<!DOCTYPE html>
<html>
<head>
    <title>Área Protegida</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo, {{ user.username }}!</h1>
        {% if user.photo_url %}
        <img src="{{ user.photo_url }}" class="profile-photo">
        {% endif %}
        <form method="post" action="/upload-photo" enctype="multipart/form-data">
            <input type="file" name="photo" accept="image/*">
            <button type="submit">Atualizar Foto</button>
        </form>
        <a href="/logout" class="button logout">Sair</a>
    </div>
</body>
</html>