{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1>Painel de Consultas</h1>
    <h2>Suas Consultas</h2>
    
    <table>
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Data</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient.name }}</td>
                <td>{{ appointment.appointment_time }}</td>
                <td>{{ appointment.status }}</td>
                <td>
                    <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-danger">Cancelar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
